@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Graphik-Medium", "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('/imagens/1.jpg') no-repeat center/cover;
}

header .header-main {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 20px;
}



header .header-main #img-header-roxo {
    display: none;
}

.header-main {
    padding: 20px 33px;
}

.header-main .quero-ser-nubank {
    background: rgb(130, 10, 209);
    height: 40px;
    display: none;
    align-items: center;
    border-radius: 20px;
}

.quero-ser-nubank a {
    height: auto;
    color: white;
    padding: 15px;
}

.main-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.info .info-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding: 6% 0 0 4%;
}

.info-text h2 {
    width: 400px;
    height: 50%;
    font-size: 2.6rem;
    color: white;
}

.info-cpf-validation {
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 50px;
    align-items: center;
    justify-content: flex-end;
}

.cpf-validation {
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 30px 25px 30px 25px;
    border-radius: 5%;
}

.cpf-validation p {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #111111
}

.cpf-validation input {
    width: 100%;
    height: 40px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px #333 solid;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.cpf-validation a {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    color: #ffffff;
    background: #1111111a;
}

.main-adCard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

.adCard {
    width: 1150px;
    height: 100%;
    margin: 60px 100px 60px 100px;
    display: flex;
    background-color: #fff;
    max-width: 1400px;
    ;
}

.adCard-left {
    width: 50%;
    height: 100%;
    background-color: #191919;
    color: #fff;
}

.adCard-left ul {
    width: 100%;
    height: 100%;
    padding: 75px;
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    font-weight: bold;
}



.adCard-left ul li:nth-child(2) {
    margin: 50px 0;
    text-align: center;
}

.adCard-left ul li:last-child {
    font-size: 1.1rem;
    font-weight: bold;
    inline-size: 250px;
}

.adCard-right {
    width: 50%;
    height: 100%;
}

.adCard-right ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: bold;
    padding: 71px;
}


.adCard-right ul li:nth-child(2) {
    margin: 30px 0;
    text-align: center;
}

.adCard-right ul li:last-child {
    font-size: 1.1rem;
    inline-size: 250px;
}

.payment-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.payments {
    width: 100%;
    height: 100%;
    display: flex;
    /* padding: 50px 0; */
}

.payment-form .payments ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px
}

.payment-form .payments ul li {
    margin: 0 30px;
}

.payment-form .payments ul li:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.payment-form .payments ul li p {
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    inline-size: 400px;
}


.payment-form .payments ul li p:nth-child(2) {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    inline-size: 470px;
    line-height: 30px;
}


.payment-form .payments ul li a {
    font-size: 1rem;
    font-weight: bold;
    color: #820ad1;
}

.payment-form .payments ul li a:hover{
    border-bottom: 3px solid #820ad1;
    transition: 2s ease-in 3s
}

.payments ul li img{
    width: 450px;
}